# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info
dist
build
*.log

# Virtual Environment
myenv/
env/
venv/
ENV/
env.bak/
venv.bak/

# TensorFlow event files
events.out.tfevents.*

# TFRecord files
*.tfrecord

# Flask specific
instance/
.venv/
.env

# Other
*.bak
*.swp
*.tmp
